/* style.css */

/* Header styles */
header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Logo styles */
.logo {
  font-size: 24px;
  font-weight: bold;
}

/* Navigation menu styles */
.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  display: inline-block;
  margin-right: 20px;
}

/* Footer Example */
footer {
  background-color: #f8f8f8;
  color: #333;
  padding: 20px;
  text-align: center;
}

/* Copyright text styles */
.copyright {
  font-size: 14px;
}

/* Social icons styles */
.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
}

/* Add hover effect to social icons */
.social-icons a:hover {
  color: #0074d9;
}